b, strong {
    font-family: BoosterNextFY-Bold;
    font-weight: normal;
    font-style: normal;
}

th {
    font-family: BoosterNextFY-Bold;
    font-weight: normal;
    font-style: normal;
}

.font-weight-bold {
    font-family: BoosterNextFY-Bold;
    font-weight: 700 !important;
}

.font-weight-bolder {
    font-family: BoosterNextFY-Bold;
    font-weight: 900 !important;
}