div.code pre .hll { background-color: #49483e }
div.code pre  { background: #272822; color: #f8f8f2 }
div.code pre .c { color: #75715e } /* Comment */
div.code pre .err { color: #960050; background-color: #1e0010 } /* Error */
div.code pre .k { color: #66d9ef } /* Keyword */
div.code pre .l { color: #ae81ff } /* Literal */
div.code pre .n { color: #f8f8f2 } /* Name */
div.code pre .o { color: #f92672 } /* Operator */
div.code pre .p { color: #f8f8f2 } /* Punctuation */
div.code pre .cm { color: #75715e } /* Comment.Multiline */
div.code pre .cp { color: #75715e } /* Comment.Preproc */
div.code pre .c1 { color: #75715e } /* Comment.Single */
div.code pre .cs { color: #75715e } /* Comment.Special */
div.code pre .ge { font-style: italic } /* Generic.Emph */
div.code pre .gs { font-weight: bold } /* Generic.Strong */
div.code pre .kc { color: #66d9ef } /* Keyword.Constant */
div.code pre .kd { color: #66d9ef } /* Keyword.Declaration */
div.code pre .kn { color: #f92672 } /* Keyword.Namespace */
div.code pre .kp { color: #66d9ef } /* Keyword.Pseudo */
div.code pre .kr { color: #66d9ef } /* Keyword.Reserved */
div.code pre .kt { color: #66d9ef } /* Keyword.Type */
div.code pre .ld { color: #e6db74 } /* Literal.Date */
div.code pre .m { color: #ae81ff } /* Literal.Number */
div.code pre .s { color: #e6db74 } /* Literal.String */
div.code pre .na { color: #a6e22e } /* Name.Attribute */
div.code pre .nb { color: #f8f8f2 } /* Name.Builtin */
div.code pre .nc { color: #a6e22e } /* Name.Class */
div.code pre .no { color: #66d9ef } /* Name.Constant */
div.code pre .nd { color: #a6e22e } /* Name.Decorator */
div.code pre .ni { color: #f8f8f2 } /* Name.Entity */
div.code pre .ne { color: #a6e22e } /* Name.Exception */
div.code pre .nf { color: #a6e22e } /* Name.Function */
div.code pre .nl { color: #f8f8f2 } /* Name.Label */
div.code pre .nn { color: #f8f8f2 } /* Name.Namespace */
div.code pre .nx { color: #a6e22e } /* Name.Other */
div.code pre .py { color: #f8f8f2 } /* Name.Property */
div.code pre .nt { color: #f92672 } /* Name.Tag */
div.code pre .nv { color: #f8f8f2 } /* Name.Variable */
div.code pre .ow { color: #f92672 } /* Operator.Word */
div.code pre .w { color: #f8f8f2 } /* Text.Whitespace */
div.code pre .mf { color: #ae81ff } /* Literal.Number.Float */
div.code pre .mh { color: #ae81ff } /* Literal.Number.Hex */
div.code pre .mi { color: #ae81ff } /* Literal.Number.Integer */
div.code pre .mo { color: #ae81ff } /* Literal.Number.Oct */
div.code pre .sb { color: #e6db74 } /* Literal.String.Backtick */
div.code pre .sc { color: #e6db74 } /* Literal.String.Char */
div.code pre .sd { color: #e6db74 } /* Literal.String.Doc */
div.code pre .s2 { color: #e6db74 } /* Literal.String.Double */
div.code pre .se { color: #ae81ff } /* Literal.String.Escape */
div.code pre .sh { color: #e6db74 } /* Literal.String.Heredoc */
div.code pre .si { color: #e6db74 } /* Literal.String.Interpol */
div.code pre .sx { color: #e6db74 } /* Literal.String.Other */
div.code pre .sr { color: #e6db74 } /* Literal.String.Regex */
div.code pre .s1 { color: #e6db74 } /* Literal.String.Single */
div.code pre .ss { color: #e6db74 } /* Literal.String.Symbol */
div.code pre .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
div.code pre .vc { color: #f8f8f2 } /* Name.Variable.Class */
div.code pre .vg { color: #f8f8f2 } /* Name.Variable.Global */
div.code pre .vi { color: #f8f8f2 } /* Name.Variable.Instance */
div.code pre .il { color: #ae81ff } /* Literal.Number.Integer.Long */

table.code td .hll { background-color: #49483e }
table.code td  { background: #272822; color: #f8f8f2 }
table.code td .c { color: #75715e } /* Comment */
table.code td .err { color: #960050; background-color: #1e0010 } /* Error */
table.code td .k { color: #66d9ef } /* Keyword */
table.code td .l { color: #ae81ff } /* Literal */
table.code td .n { color: #f8f8f2 } /* Name */
table.code td .o { color: #f92672 } /* Operator */
table.code td .p { color: #f8f8f2 } /* Punctuation */
table.code td .cm { color: #75715e } /* Comment.Multiline */
table.code td .cp { color: #75715e } /* Comment.Preproc */
table.code td .c1 { color: #75715e } /* Comment.Single */
table.code td .cs { color: #75715e } /* Comment.Special */
table.code td .ge { font-style: italic } /* Generic.Emph */
table.code td .gs { font-weight: bold } /* Generic.Strong */
table.code td .kc { color: #66d9ef } /* Keyword.Constant */
table.code td .kd { color: #66d9ef } /* Keyword.Declaration */
table.code td .kn { color: #f92672 } /* Keyword.Namespace */
table.code td .kp { color: #66d9ef } /* Keyword.Pseudo */
table.code td .kr { color: #66d9ef } /* Keyword.Reserved */
table.code td .kt { color: #66d9ef } /* Keyword.Type */
table.code td .ld { color: #e6db74 } /* Literal.Date */
table.code td .m { color: #ae81ff } /* Literal.Number */
table.code td .s { color: #e6db74 } /* Literal.String */
table.code td .na { color: #a6e22e } /* Name.Attribute */
table.code td .nb { color: #f8f8f2 } /* Name.Builtin */
table.code td .nc { color: #a6e22e } /* Name.Class */
table.code td .no { color: #66d9ef } /* Name.Constant */
table.code td .nd { color: #a6e22e } /* Name.Decorator */
table.code td .ni { color: #f8f8f2 } /* Name.Entity */
table.code td .ne { color: #a6e22e } /* Name.Exception */
table.code td .nf { color: #a6e22e } /* Name.Function */
table.code td .nl { color: #f8f8f2 } /* Name.Label */
table.code td .nn { color: #f8f8f2 } /* Name.Namespace */
table.code td .nx { color: #a6e22e } /* Name.Other */
table.code td .py { color: #f8f8f2 } /* Name.Property */
table.code td .nt { color: #f92672 } /* Name.Tag */
table.code td .nv { color: #f8f8f2 } /* Name.Variable */
table.code td .ow { color: #f92672 } /* Operator.Word */
table.code td .w { color: #f8f8f2 } /* Text.Whitespace */
table.code td .mf { color: #ae81ff } /* Literal.Number.Float */
table.code td .mh { color: #ae81ff } /* Literal.Number.Hex */
table.code td .mi { color: #ae81ff } /* Literal.Number.Integer */
table.code td .mo { color: #ae81ff } /* Literal.Number.Oct */
table.code td .sb { color: #e6db74 } /* Literal.String.Backtick */
table.code td .sc { color: #e6db74 } /* Literal.String.Char */
table.code td .sd { color: #e6db74 } /* Literal.String.Doc */
table.code td .s2 { color: #e6db74 } /* Literal.String.Double */
table.code td .se { color: #ae81ff } /* Literal.String.Escape */
table.code td .sh { color: #e6db74 } /* Literal.String.Heredoc */
table.code td .si { color: #e6db74 } /* Literal.String.Interpol */
table.code td .sx { color: #e6db74 } /* Literal.String.Other */
table.code td .sr { color: #e6db74 } /* Literal.String.Regex */
table.code td .s1 { color: #e6db74 } /* Literal.String.Single */
table.code td .ss { color: #e6db74 } /* Literal.String.Symbol */
table.code td .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
table.code td .vc { color: #f8f8f2 } /* Name.Variable.Class */
table.code td .vg { color: #f8f8f2 } /* Name.Variable.Global */
table.code td .vi { color: #f8f8f2 } /* Name.Variable.Instance */
table.code td .il { color: #ae81ff } /* Literal.Number.Integer.Long */